p.frontP
{	
	font: 18px Georgia, serif;
}

div.frontContent
{
    position:fixed;
    top: 40%;
    left: 40%;
    width:550px;
    height:350px;
    margin-top: -9em;
    margin-left: -10em;
    border: 1px solid #ccc;
    background-color: #D8D8D8;
}

div.signUpContent
{
	position:fixed;
	top: 0%;
    left: 40%;
    width:500px;
    height:100%;
    margin-left:-8em;
    border: 1px solid #ccc;
    background-color: #D8D8D8;
}

#main_menu {
	position: fixed;
	height: 100%;
	width: 15%;
	min-width: 150px;
	left: 0px;
	top: 0px;
	opacity: 0.85;	
	background-color: green;
	color: yellow;
	font-size: 125%;
}

#search_bar_field {width: 95%;}

#search_bar_button {width: 10%; right: 0;}

@media screen and (min-width: 1001px)
{
	#wrap
	{
		position: relative;
		left: 15%;
		max-width: 84%;
		right: 0px;
		background-image: url(brushed.png);	
		margin: 0, 0, 0, 0;
		padding: 0, 0, 0, 0;
		min-height: 1000px;
	}
}

@media screen and (max-width: 1000px)
{
	#wrap
	{
		position: absolute;
		left: 150px;
		background-image: url(brushed.png);	
		margin: 0, 0, 0, 0;
		padding: 0, 0, 0, 0;
		min-height: 1000px;
	}
}

#logout_button {
	position: absolute;
	right: 2px;
	top: 4px;
}
#profile_button {
	position: absolute;
	right: 2px;
}

#search_bar {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

body{background-image: url(brushed.png);}

a:link, a:visited {
	color: purple;
	text-decoration: underline;
	cursor: auto;	
}

a:link, a:visited:active {color: yellow;}

a:hover {color: red;}